/**
 * Import font's
 */
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/oswald/oswald-bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/oswald/oswald-bold.woff') format('woff'), 
       url('../fonts/oswald/oswald-bold.ttf') format('truetype'), 
       url('../fonts/oswald/oswald-bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family:"Lato-Regular";
	src: url("../fonts/lato-regular/lato-regular.eot?") format("eot"),
	     url("../fonts/lato-regular/lato-regular.woff") format("woff"),
	     url("../fonts/lato-regular/lato-regular.ttf") format("truetype"),
	     url("../fonts/lato-regular/lato-regular.svg#Lato-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Lato-Bold";
	src: url("../fonts/lato/lato-bold.eot?") format("eot"),
	     url("../fonts/lato/lato-bold.woff") format("woff"),
	     url("../fonts/lato/lato-bold.ttf") format("truetype"),
	     url("../fonts/lato/lato-bold.svg#Lato-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Lato-Black";
	src: url("../fonts/lato-black/lato-black.eot?") format("eot"),
	     url("../fonts/lato-black/lato-black.woff") format("woff"),
	     url("../fonts/lato-black/lato-black.ttf") format("truetype"),
	     url("../fonts/lato-black/lato-black.svg#Lato-Black") format("svg");
	font-weight:normal;
	font-style:normal;
}


/**
 * Theme custom
 */
*{
	padding: 0;
	margin: 0;
}
html{
	position: relative;
    min-height: 100%;
}
body{
	font-family: 'Lato-Black';
	font-size: 14px;
	color: #FFFFFF;
	background: #161b2b url(../img/bg.png) no-repeat top center;
}

h1, h2, h3, h4{
	font-family: 'Lato-Black';	
	text-transform: uppercase;
	width: 100%;
	display: block;
}
h1{
	font-size: 35px;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

h2{
	font-size: 20px;
	color: #fad819;
}

h3{
	font-size: 16px;
	letter-spacing: -1px;
	text-align: center;
}

h4{
	font-size: 16px;
	letter-spacing: -1px;
	text-align: left;
}

.navbar-brand img{
	border-right: 1px solid #2e3241;
	padding-right: 40px;
}

.describe-job {
	width: 300px;
	font-size: 12.32px;
	text-transform: uppercase;
}
.vaga{
	font-family:"Lato-Regular";
	color: #FFFFFF;
}
.front{
	font-family:"Lato-Bold";
	color: #ffcd1a;	
	width: 100%;
}

.text-white{
	color: #FFFFFF;
}
.text-yellow{
	color: #fad819;	
}

.navbar{
	padding-top: 10px; 
	padding-bottom: 30px; 
	left: 0;
}

.navbar li a{
	color: #FFFFFF;
	font-family:"Lato-Bold";
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 8px;
    padding-bottom: 8px;
}
.navbar li a:hover, .navbar li a:active{
	color: #161b2b;
	background: #ffcd1a;
}
.navbar li>.active{
	color: #161b2b;
	background: #ffcd1a;
}

/**
 * Search
 */
.box{
	font-family:"Lato-Bold";
  	width: 330px;
  	height: 36px;
  	float: right;
}
.box-search{
  	vertical-align: middle;
  	white-space: nowrap;
  	position: relative;
}
.box-search input#search{
  	width: 330px;
  	height: 36px;
  	background: #21273a;
  	border: none;
  	font-size: 10pt;
  	color: #FFFFFF;
  	padding-left: 45px;
}
.box-search input#search::-webkit-input-placeholder {
   	color: #FFFFFF;
} 
.box-search input#search:-moz-placeholder { /* Firefox 18- */
   	color: #FFFFFF;
}
.box-search input#search::-moz-placeholder {  /* Firefox 19+ */
   	color: #FFFFFF;
}
.box-search input#search:-ms-input-placeholder {  
   	color: #FFFFFF;
}
.box-search .icon{
  	position: absolute;
  	top: 0%;
 	margin-left: 17px;
  	margin-top: 10px;
  	z-index: 1;
  	color: #edbf1d;
}
.box-search input#search:hover, .box-search input#search:focus, .box-search input#search:active{
    outline:none;
}

/**
 * Navigation
 */
.icon-bar {
   background-color: #FFFFFF !important;
}

/**
 * Header
 */
header{
	background: #ff2e34 url(../img/bg-banner.png) repeat-y center center;
	height: 540px;
}

/**
 * Section
 */
section{
	margin-top: 20px;
}

.button-more-jobs{
	background: #21273a;
	color: #FFFFFF;
	font-family:"Lato-Regular";	
	font-size: 12px;
	padding: 10px 15px;
	margin: -60px 0 0 0;
    text-decoration: none;
}
.button-more-jobs:hover{
	background: #fad819;
	color: #21273a;
	text-decoration: none;
}

/**
 * Jobs
 */
.more-jobs{
	background: #21273a;
	color: #FFFFFF;
	font-family:"Lato-Regular";	
	font-size: 12px;
	padding: 10px 15px;
	margin: 20px 0 20px 0;
    text-decoration: none;
    display: inline-block;
}
.more-jobs:hover{
	background: #fad819;
	color: #21273a;
	text-decoration: none;
}

.section-jobs{
	margin-bottom: 50px;
}

.box-jobs {
  	display: inline-block !important;
  	position: relative !important;
  	overflow: hidden;
  	background: #21273a;
  	padding: 60px;
}
.box-jobs-overlay {
  	display: none;
}
.box-jobs a:hover .box-jobs-overlay {
  	display: inline;
  	text-align: center;
  	position: absolute;
  	transition: background 0.2s ease, padding 0.8s linear;
  	background-color: rgba(250, 216, 25, 0.90);
  	color: #fff;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0; 
}
.box-jobs-overlay span {
  	position: relative;
  	top: 30%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
  		    transform: translateY(-50%);
}
.description{
	font-family:"Lato-Regular";
  	font-size: 12.5px;
  	color: #5f657a;
  	text-align: justify;
  	margin-bottom: 20px;
}


/**
 * Oferecemos
 */
.box-offer{
	background: #21273a;
  	padding: 60px 10px;
  	margin-bottom: 20px;
}
.box-offer img{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.box-offer p{
	color: #8c94ad;
  	font-family:"Lato-Regular";
  	font-size: 12.5px;
  	text-align: center;
}
.box-offer .rectangle-yellow{
  	border: 4px solid #fad819;
  	width: 40px;
  	margin-top: 20px;
  	display: block;
    margin-left: auto;
    margin-right: auto
}

/**
 * Blog
 */
.blog{
	margin-bottom: 35px;
	display: block;
	width: 100%;
}

.blog-circle{
	width: 120px;
	height: 120px;
	background: #21273a;
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
.blog-data{
	font-family:"Lato-Black";
	text-align: center;
	text-transform: uppercase;
}
.blog-data.day{
	font-size: 49.61px;	
	padding-top: 12%;
	margin-bottom: -10px;
}
.blog-data.month{
	font-size: 15.93px;
}

/**
 * Contact
 */
.contact{
	background: #FFFFFF;
}
.contact h1{
	font-family:"Lato-Black";
	font-size: 25px;	
	color: #161b2b;
	margin-bottom: 5px;
}
.contact p{
	font-family:"Lato-Regular";
	font-size: 13px;	
	color: #161b2b;
}
.contact .skype{
	font-family:"Lato-Regular";
	font-size: 25px;	
	color: #161b2b;
}
.contact .skype-end{
	font-family:"Lato-Regular";
	font-size: 15px;	
	color: #161b2b;
	padding-left: 10px;
}
ul.social-buttons {
  	text-align: left;
}
ul.social-buttons li {
  	display: inline-block;
  	margin-right: 5px;
}
ul.social-buttons li a {
  	width: 40px;
  	height: 40px;
  	display: block;
  	border-radius: 50px;
  	text-decoration: none;
  	font-size: 15px;
  	line-height: 40px;
  	color: white;
  	text-align: center;
}
ul.social-buttons li a.brandico-twitter-bird {
  	background-color: #161b2b;
}
ul.social-buttons li a.brandico-facebook {
  	background-color: #161b2b;
}
ul.social-buttons li a.brandico-instagram {
  	background-color: #161b2b;
}
ul.social-buttons li a.brandico-vimeo {
  	background-color: #161b2b;
}
ul.social-buttons li a.brandico-linkedin {
  	background-color: #161b2b;
}
ul#demo1 li a {
  	
}
ul#demo1 li:hover a {
	color: #161b2b;
  	background-color: #ffcd1a;
}

.arrow_box {
	position: relative;
	border: 4px solid #FFFFFF;
	z-index: 10;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	right: 37%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #FFFFFF;
	border-width: 16px;
	margin-left: -16px;
}

#map { 
  	width: 100%; 
  	height: 650px; 
  	position:absolute; 
  	bottom: -270px; 
  	left: 0; 
  	z-index: 0;
}
 
#contactform { 
  	position: relative; 
  	z-index: 1;
  	width: 300px;
  	height: 300px;
  	margin: 80px auto 0;
  	padding: 10px;
  	background: #ffcd1a;
  	color: #161b2b;
  	font-family:"Lato-Regular";
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
}
#contactform img{
	padding-top: 80px;
	padding-bottom: 10px;
}

/**
 * Responsive theme
 */

@media screen and (min-width: 340px) {
	.box{
	  	margin: 20px auto -20px;
	  	float: left;
	}
	.describe-job{
		padding: 30px 0 0 120px;
	}
	.navbar-toggle{
		margin-top: 26px;
	    margin-bottom: -7px;
	    margin-left: -9px;
	    float: left;
	}
	.blog-circle{
		float: left;
	}
}
@media screen and (min-width: 768px) {
	.box{
	  	margin: 20px auto -20px;
	  	float: left;
	}
	.describe-job{
		padding: 30px 0 0 40px;
	}
	.navbar-collapse.collapse{
		margin-top: 20px;
		margin-left: -28px;
	}
}
@media screen and (min-width: 992px) {
	.box{
	  	margin: 10px auto -20px;
	  	float: right;
	}
	.describe-job{
		padding: 30px 0 0 70px;
	}
	.nav>li>a{
		padding: 10px 10px;
	}
	.navbar-collapse.collapse{
		float: left !important;
	}
	.blog-circle{
		float: none;
	}
}
@media screen and (min-width: 1200px) {
	.describe-job{
		padding: 30px 0 0 40px;
	}
}